 <p-menubar [model]="items"></p-menubar>
  <p-dataView #dv [value]="announcements" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="name,date,start,destination"
              [sortField]="sortField" [sortOrder]="sortOrder">
    <p-header>
      <div class="ui-helper-clearfix">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-4">
            <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sortuj" (onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>
          </div>
          <div class="ui-g-6 ui-md-4 filter-container">
            <div style="text-align:center">
              <input pinputtext placeholder="Szukaj" type="search" class="ui-inputtext ui-corner-all ui-state-default ui-widget" (keyup)="dv.filter($event.target.value)">
            </div>
          </div>
          <div class="ui-g-12 ui-md-3">
            <p-selectButton [options]="displayTypes" [(ngModel)]="selectedType" (onChange)="$event.value.command()"></p-selectButton>
          </div>
          <div class="ui-g-6 ui-md-1" style="text-align:right">
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          </div>
        </div>
      </div>
    </p-header>
    <ng-template let-announcment pTemplate="listItem">
      <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
        <div class="ui-g-12 ui-md-8 announcement-details">
          <div class="ui-g">
            <div class="ui-g-2 ui-sm-6">Name: </div>
            <div class="ui-g-10 ui-sm-6"><b>{{announcment.title}}</b></div>

            <div class="ui-g-2 ui-sm-6">Date: </div>
            <div class="ui-g-10 ui-sm-6"><b>{{announcment.date}}</b></div>

            <div class="ui-g-2 ui-sm-6">Start: </div>
            <div class="ui-g-10 ui-sm-6"><b>{{announcment.start}}</b></div>

            <div class="ui-g-2 ui-sm-6">Destination: </div>
            <div class="ui-g-10 ui-sm-6"><b>{{announcment.destination}}</b></div>


          </div>
        </div>
        <div class="ui-g-12 ui-md-2 search-icon">
          <button pButton type="button" icon="pi pi-info" (click)="selectAnnouncementForDetails($event, announcment)"></button>
          <button *ngIf="showInterested" pButton type="button" icon="pi pi-star" style=" margin-left: 15px" (click)="selectAsInterested(announcment)"></button>
          <button *ngIf="showOptions" pButton type="button" icon="pi pi-cog" style=" margin-left: 15px" (click)="selectAnnouncementForOptions($event, announcment)"></button>
          <button *ngIf="showConfirm" pButton type="button" icon="pi pi-user-plus" style=" margin-left: 15px" (click)="selectAnnouncementForInterested($event, announcment)"></button>
          <button *ngIf="announcment.status"  pButton label="Accepted" styleClass="ui-button-success" style=" margin-left: 15px"></button>
        </div>
      </div>
    </ng-template>
    <ng-template let-announcment pTemplate="gridItem">
      <div style="padding:.5em" class="ui-g-12 ui-md-3">
        <p-panel [header]="announcment.name" [style]="{'text-align':'center'}">
          <div class="announcement-detail">{{announcment.start}} - {{announcment.destination}}</div>
          <hr class="ui-widget-content" style="border-top:0">
          <button pButton type="button" icon="pi pi-info" (click)="selectAnnouncementForDetails($event, announcment)" style="margin-top:0"></button>
          <button pButton *ngIf="showInterested" type="button" icon="pi pi-star" style=" margin-left: 15px" (click)="selectAsInterested(announcment)"></button>
          <button pButton *ngIf="showOptions" type="button" icon="pi pi-cog" style=" margin-left: 15px" (click)="selectAnnouncementForOptions($event, announcment)"></button>
          <button pButton *ngIf="showConfirm" type="button" icon="pi pi-user-plus" style=" margin-left: 15px" (click)="selectAnnouncementForInterested($event, announcment)"></button>
          <p-button *ngIf="announcment.status" label="Accepted" styleClass="ui-button-success" style=" margin-left: 15px"></p-button>
        </p-panel>
      </div>
    </ng-template>
  </p-dataView>

  <p-dialog header="Announcement Details" [(visible)]="displayDialogDetails" [responsive]="true" showEffect="fade" [modal]="true" width="625" (onShow)="displayMaps()" (onHide)="onDialogHide()">
    <div class="ui-g" *ngIf="selectedAnnouncement">

      <div class="ui-g-4" style="font-size:medium">Date: </div>
      <div class="ui-g-8" style="font-size:medium">{{selectedAnnouncement.date}}</div>

      <div class="ui-g-4" style="font-size:medium">Start: </div>
      <div class="ui-g-8" style="font-size:medium">{{selectedAnnouncement.start}}</div>

      <div class="ui-g-4" style="font-size:medium">Destination: </div>
      <div class="ui-g-8" style="font-size:medium">{{selectedAnnouncement.destination}}</div>

      <div class="ui-g-4" style="font-size:medium">Description: </div>
      <div class="ui-g-8" style="font-size:medium">{{selectedAnnouncement.description}}</div>

    </div>

    <div id="mapid"></div>
  </p-dialog>


 <p-dialog header="Announcement Options" [(visible)]="displayDialogOptions" [responsive]="true" showEffect="fade" [modal]="true" width="325" (onHide)="onDialogHide()">
   <div class="ui-g" *ngIf="selectedAnnouncement" >
     <div class="ui-g-8">
       <label for="title" style="font-size:large">Title</label>
      <input  type="text" size="30" [(ngModel)]="selectedAnnouncement.title" pInputText placeholder="{{selectedAnnouncement.title}} " class="ui-inputtext ui-corner-all ui-state-default ui-widget">
     </div>
     <div class="ui-g-8">
       <label for="start" style="font-size:large">Start</label>
      <input  type="text" size="30" [(ngModel)]="selectedAnnouncement.start" pInputText placeholder="{{selectedAnnouncement.start}}" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
     </div>
     <div class="ui-g-8">
       <label for="destination" style="font-size:large">Destination</label>
       <input  type="text" size="30" [(ngModel)]="selectedAnnouncement.destination" pInputText placeholder="{{selectedAnnouncement.destination}}" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
     </div>
     <div class="ui-g-8">
       <label for="date" style="font-size:large">Date</label>
      <input  type="text" size="30" [(ngModel)]="selectedAnnouncement.date" pInputText placeholder="{{selectedAnnouncement.date}}" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
     </div>
     <div class="ui-g-8">
       <label for="description" style="font-size:large">Description</label>
       <input  type="text" size="30" [(ngModel)]="selectedAnnouncement.description" pInputText placeholder="{{selectedAnnouncement.description}}" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
     </div>
     <div class="ui-g-6 ui-md-12" style="text-align:center">
        <button pButton type="button" style="margin-right: 5px" label="Confirm"  (click)="handleChanges()"></button>
        <button pButton type="button" label="Delete" (click)="handleDelete()"></button>
     </div>
   </div>
 </p-dialog>

 <p-dialog header="Announcement Interest" [(visible)]="displayDialogInterest" [responsive]="true" showEffect="fade" [modal]="true" width="200" (onHide)="onDialogHide()">
   <div class="ui-g" *ngIf="displayNotAcceptedUsers">

     <p-listbox [options]="displayNotAcceptedUsers" [(ngModel)]="usersSelectedToAccept" multiple="multiple" checkbox="checkbox" filter="filter">
       <p-header>
         <i class="fa fa-users"></i>
         Interested Users
       </p-header>
     </p-listbox>

     <div class="ui-g-6 ui-md-12" style="text-align:center">
        <button pButton type="button" icon="pi pi-plus" label="Add" (click)="handleConfirmInterest()"></button>
     </div>
   </div>
 </p-dialog>
