form {
  text-align: center;
}

.hello {
  text-align: center;
  min-height: 1.6em;
  line-height: 1.6em;
  margin: 1em;
}
.hello * {
  margin: 0;
}
input {
  display: inline;
  margin: 20px;
}

input[type=text], select {
    width: 200px;
    padding: 12px 20px;
    margin: 20px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button, input[type="button"], input[type="submit"] {
  display: inline;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000000;
  background-color: bisque;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:active, input[type="button"]:active, input[type="submit"]:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
