<div class="content">
  <div [ngClass]="'main'">
    <h1>Register new account</h1>
    <form [ngClass]="'reg_form'" (submit)="handleSubmit()">
      <label for="username">Username</label>
      <input autofocus autocomplete="off" type="text" name='username' id='username' required [(ngModel)]="username">
      <label for="email">Email</label>
      <input autocomplete="off" type="text" name='email' id='email' [(ngModel)]="email">
      <label for="password">Password</label>
      <input autocomplete="off" type="password" name='password' id='password' required [(ngModel)]="password">
      <input type='submit' value='Sign up'>
    </form>
  </div>
</div>
